h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
    outline: none;
  }
  .custom-btn {
    width: 96px;
    height: 34px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
/* 6 */
.btn-6 {
    background: #000;
   color: #fff;
   line-height: 36px;
   padding: 0;
   border: none;
 }
 .btn-6 span {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
 }
 .btn-6:before,
 .btn-6:after {
   position: absolute;
   content: "";
   height: 0%;
   width: 2px;
   background: #000;
 }
 .btn-6:before {
   right: 0;
   top: 0;
   transition: all 500ms ease;
 }
 .btn-6:after {
   left: 0;
   bottom: 0;
   transition: all 500ms ease;
 }
 .btn-6:hover{
   color: #000;
   background: transparent;
 }
 .btn-6:hover:before {
   transition: all 500ms ease;
   height: 100%;
 }
 .btn-6:hover:after {
   transition: all 500ms ease;
   height: 100%;
 }
 .btn-6 span:before,
 .btn-6 span:after {
   position: absolute;
   content: "";
   background: #000;
 }
 .btn-6 span:before {
   left: 0;
   top: 0;
   width: 0%;
   height: 2px;
   transition: all 500ms ease;
 }
 .btn-6 span:after {
   right: 0;
   bottom: 0;
   width: 0%;
   height: 2px;
   transition: all 500ms ease;
 }
 .btn-6 span:hover:before {
   width: 100%;
 }
 .btn-6 span:hover:after {
   width: 100%;
 }

 
/* 12 */
.btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    width: 130px;
    height: 40px;
    line-height: 40px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    border: 2px solid #000;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    background: #e0e5ec;
    color: #e0e5ec;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  .image1{
    width: 40%;
  }
  
 