.container-form {
  background-color: #fafafa;
  box-shadow: 6px 4px 19px -3px rgb(0 0 0 / 88%);
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
  width: unset !important;
}

.list-items {
  width: 40%;
}
.table-items {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-product-item span,
.text-product-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: initial;
}

.container-title-page h2 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 12px;
  text-shadow: 4px 3px 6px rgb(150 150 150);
}

.container-modified-products {
  display: flex;
  justify-content: center;
  height: 93vh;
}

.list-products {
  overflow: auto;
}