.container-form {
  background-color: #fff;
  box-shadow: 6px 4px 19px -3px rgb(0 0 0 / 88%);
  border-radius: 4px;
}

.list-items {
  width: 40%;
}
.table-items {
  width: 60%;
}

.main {
  display: flex;
  justify-content: center;
}
